@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>Minion Time <img src="~/minion_clock.jpg" style="height: 40px; width:30px;"></h1>

<div id="Seconds">

</div>
<div id="Minutes">

</div>
<div id="Hours">

</div>
